# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Sobras de comandos
%O2.c
.DS_Store
CF.c
DBO.c
DT.c
FT.c
Funções.c
NT.c
ST.c
TU.c
pH.c
teste